---
---

.cta-background {
   bottom: 0;
   filter: blur(50px);
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   width: 100%;
   z-index: -1;
}

// .custom-btn {
//      padding: 10px 25px;
//      background: transparent;
//      cursor: pointer;
//      transition: all 0.4s ease;
//      position: relative;
//      display: inline-block;
//    }

// .frame {
//    width: 90%;
//    margin: 40px auto;
//    text-align: center;
// }

.container {
   flex-wrap: wrap;
   justify-content: space-around;
   display: flex;
   height: 50vh;
}

.cta {
   background: #202020;
   height: 440px;
   margin: 0px 0px 20px 0px;
   overflow: hidden;
   position: relative;
   width: 300px;
   
   &:hover {
      
      img {
         top: 0%;
         filter: brightness(20%);
      }
      
      .text {
         bottom: 0;
      }
   }

//    .btn {
//      border: none;
//    }

//    .btn:hover {
//       box-shadow:
//       -7px -7px 20px 0px #fff9,
//       -4px -4px 5px 0px #fff9,
//       7px 7px 20px 0px #0002,
//       4px 4px 5px 0px #0001;
//    }
   
   img {
      bottom: 0;
      filter: brightness(100%);
      left: 0;
      border-radius:4px;
      position: absolute;
      right: 0px;
      top: 0px;
      transition: 0.4s ease-in-out;
      height: 440px;
   }
   
   .text {
      bottom: -91%;
      padding: 15px;
      position: absolute;
      transition: 0.4s ease-in-out;

      h2 {
         color: #fff;
         display: inline-block;
         font-weight: 300;
         margin-bottom: 5px;
         position: relative;
      }
      
      p {
         color: #fff;
         font-weight: 300;
      }
   }
}

.box{
  /* Basic styling and alignment */
  width:300px;
  height:440px;
  border-radius:4px;
    /* Basic styling and alignment */
  /* For Neumorphism Effect */
  background-color: transparent;
  box-shadow: 9px 9px 12px rgba(0, 0, 0, 0.7), -9px -9px 12px rgba(255, 255, 255, 0.2);
    /* For Neumorphism Effect */
}
