<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="https://jimeens.github.io/j.ico">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body><center>
      <div>
        <nav id="Menu">
	  <a href="{{ site.url }}"><button class="navbutton">Home</button></a>
          <a href="{{ site.url }}/aboutme"><button class="navbutton">About me</button></a>
          <a href="{{ site.url }}/research"><button class="navbutton">Research</button></a>
	  <div class="dropdown"><button class="dropbtn">Projects</button>
            <div class="dropdown-content">
              <a href="{{ site.url }}/projects/latex">LaTeX Templates</a>
	      <a href="{{ site.url }}/projects/notes">Lecture Notes</a>
	      <a href="{{ site.url }}/projects/events">Events</a>
            </div>
          </div>		
        </nav>

    <div class="wrapper">

      <section>
        <div id="title">
          <h1 style="font-weight: 500">{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Page by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }} </a><medium>(Inspired in <a href="https://github.com/alves-nickolas"> Níckolas Alves</a>)</medium></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme: inspired in "Midnight", by <a href="https://twitter.com/mattgraham">Matt Graham</a></span>
        </div>

        {{ content }}

      </section>

    </div>
  </center>
  	<footer>
		<center>
			<address>Lucas R. Ximenes dos Santos (Jimeens) 
			<br/>BSc Student
			<br/><a href="http://portal.if.usp.br/ifusp/" target="_blank">Institute of Physics at University of São Paulo</a>
			<br/><a href="mailto:lcsximenes@usp.br" target="_blank">Contact</a>
			<br/><a href="http://lattes.cnpq.br/3368536085309957" target="_blank">Lattes Curriculum</a>
			<br/><div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0003-4243-7326" href="https://orcid.org/0000-0003-4243-7326" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0002-0309-735X</a></div>
			</address>
		</center>
	</footer>
  </body>
</html>
